/*
    //-----> HTML
*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #1F1F1F;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*
    //-----> LAYOUT
*/

/* TOPBAR */
.topBar {
    display: flex;
    padding: 40px calc((100% - 1200px)/2) 40px calc((100% - 1200px)/2);
}

    .topBar__circle {
        height: 146px;
        width: 146px;
        inset: -49px auto auto calc(50% - 330px);
        z-index: 1;
    }

    .topBar__logo {
        min-width: 135px;
        max-width: 135px;
    }

    .topBar__nav {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        gap: 64px;
    }

        .topBar__nav a {
            color: black;
            display: block;
            text-decoration: none;
            font-weight: bold;
        }

/* HEADER */
.header {
    display: flex;
    padding: 64px calc((100% - 1200px)/2) 0 calc((100% - 1200px)/2);
}

    .header__text {
        max-width: 460px;
    }

    .header__title {
        font-size: 20px;
        font-weight: normal;
    }

    .header__second-title {
        font-size: 36px;
        font-weight: bold;
        min-width: 300px;
        padding: 16px 0;
    }

    .header__btn{
        display: flex;
        padding-top: 48px;
    }

    .header__image{
        min-width: 687px;
        min-height: 487px;
        max-width: 687px;
        max-height: 487px;
        padding-left: 48px;
    }

/* SECTIONS */
.section {
    padding: 64px calc((100% - 1200px)/2) 64px calc((100% - 1200px)/2);
    text-align: center;
    background-color: white;
}

    .section__title {
        font-size: 36px;
        font-weight: bold;
        padding: 9px 0 24px 0;
    }

    .section__paragraph {
        max-width: 810px;
        margin-right: auto;
        margin-left: auto;
    }

/* About Me */
.aboutMe__list {
    display: flex;
    padding: 32px 0 80px 0;
}

    .aboutMe__list__term {
        font-size: 64px;
        font-weight: bold;
        color: #FFD4D0;
    }

    .aboutMe__list__definition {
        font-size: 18px;
        font-weight: bold;
    }

    .aboutMe__list__middleItem {
        margin-right: auto;
        margin-left: auto;
    }

.aboutMe__circle {
    height: 234px;
    width: 234px;
    inset: auto auto -186px calc(50% - 234px / 2);
}

/* Services */
.services__list {
    display: flex;
    text-align: left;
    padding: 32px;
    gap: 32px;
}

    .services__list__h4 {
        padding: 24px 0;
    }

/* My Portfolio */
.myPortfolio__paragraph {
    margin-bottom: 42px;
}

.myPortfolio__list {
    display: flex;
    gap: 64px;
}

    .myPortfolio__list:first-of-type {
        padding-bottom: 64px;
    }

    .myPortfolio__textAndIcon {
        display: flex;
        max-width: 360px;
        position: relative
    }

    .myPortfolio__text {
        text-align: left;
    }

    .myPortfolio__arrow {
        max-width: 45px;
        max-height: 45px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .myPortfolio__list a {
        font-size: 20px;
        font-weight: bold;
    }

/* Core Design Skills */
.coreDesignSkills__list {
    margin-top: 64px;
    display: flex;
    gap: 120px;
    text-align: left;
    margin-left: calc(50% - (470px + 120px / 2));
}

    .coreDesignSkills__list li {
        display: grid;
    }

    .coreDesignSkills__list label {
        font-weight: bold;
        padding: 6px 0;
    }

    .progressAndPercentage {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .progress__paragraph {
        font-weight: bold;
    }

    .coreDesignSkills__list progress {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        height: 5px;
        width: 420px;
        /* Chrome and Brave */
        -webkit-appearance: none;
        appearance: none;
        /* Firefox */
        border: none;
        background-color: white;
    }

        /* Chrome and Brave */
        .coreDesignSkills__list progress::-webkit-progress-bar {
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
            height: 5px;
        }

        .coreDesignSkills__list progress::-webkit-progress-value {
            background: black;
            height: 5px;
        }

        /* Firefox */
        .coreDesignSkills__list progress::-moz-progress-bar {
            background: black;
            height: 5px;
        }

/* Get in Touch */
.getInTouch {
    display: flex;
    text-align: left;
}

    .getInTouch__circle {
        height: 221px;
        width: 221px;
        inset: 225px auto auto -134px;
    }

    .getInTouch__margin{
        margin: 124px 0;
        max-width: 566px;
    }

    .getInTouch__margin:last-of-type {
        margin-left: 60px;
    }

    .getInTouch__paragraph {
        margin-bottom: 64px;
    }

    .getInTouch__list {
        display: flex;
    }

        .getInTouch__list dt {
            padding: 0 16px 32px 0;
        }

    .getInTouch__socialMedia {
        position: absolute;
        bottom: 0;
        left: 0;
    }

        .getInTouch__socialMedia a {
            padding-right: 24px;
        }

    .getInTouch__form label {
        display: block;
    }

    .getInTouch__form input {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        height: 50px;
        width: 550px;
        padding-left: 16px;
        margin-bottom: 24px;
    }

    .getInTouch__form textarea {
        height: 152px;
        width: 550px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        padding: 16px 0 0 16px;
        resize: none;
    }

    .getInTouch__form button {
        margin-top: 32px;
        color: white;
        background-color: #1F1F1F;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 56px;
        cursor: pointer;
    }

/* FOOTER */
footer {
    padding: 80px 0;
    text-align: center;
}

    .footer__nav {
        display: table;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__nav a {
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-weight: bold;
    }

    .footer__nav__item--padding {
        padding-right: 32px;
    }

    .footer__logo {
        padding: 0 120px;
    }

    .footer__paragraph {
        margin: 64px 0 32px 0;
    }

    .footer__socialMedia a:not(:last-of-type) {
        padding-right: 32px;
    }

/*
    //----> BUTTONS
*/
.btn, .btn:visited {
    min-width: 127px;
    max-height: 48px;
    line-height: 48px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 2px 24px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
}

.btn--white, .btn--white:visited {
    background-color: white;
    color: black;
    box-shadow: inset 0 0 0 0.5px black;
}

.btn + .btn {
    margin-left: 24px;
}

/*
    //----> UTILITIES
*/

/* COLOURS */
.bg-pink {
    background-color: #FFD4D0;
}

.bg-pinkAndLightGrey {
    background: rgb(255,212,208);
    background: linear-gradient(180deg, rgba(255,212,208
    ,1) 34%, rgba(247,247,247,1) 34%);
}

.bg-black {
    background-color: #1F1F1F;
    color: white;
}

.bg-lightGrey {
    background-color: #F7F7F7;
}

.color-red {
    color: red;
}

/* OTHERS */
.redCircleAbsolute {
    background-color: #FC3314;
    border-radius: 50%;
    position: absolute;
}

.positionRelative {
    position: relative;
}

.index1 {
    z-index: 1
}

.spacing90px {
    padding: 90px 0;
}

.overflowHidden {
    overflow: hidden;
}
